<div style="background-color:#ddd;padding-left:15px:padding-right:15px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:10px;">
        <tr bgcolor="#ffffff">
            <td align="center">
				<img src="{{ email_logo }}" style="max-width: 200px; max-height: auto;">
            </td>
        </tr>

        <tr bgcolor="#ffffff">
            <td align="center">
                <br>
                <h3 style="color:#666;">Olá {{ user }}</h3>

                <p style="color:#666;max-width:400px;">
                   Você está recebendo este email porque solicitou a redefinição da senha da sua conta.

                    Por favor, acesse a seguinte página e escolha uma nova senha:
                </p>
                <br>
                <table>
                    <tr>
                        <td class="button" bgcolor="#008000" style="text-align:center;width:160px;padding:5px;border-radius:15px;color:#fff;">
                            <a class="link" href="{{ reset_link }}" target="_blank" style="color:white !important;text-decoration:none">Redefinir Senha</a>

                        </td>
                    </tr>
                </table>
                <p style="color:#666;max-width:400px;">
                  Seu nome de usuário, caso tenha esquecido: {{ user.identifier }}
                    Obrigado por usar nosso site!
                </p>
                <hr>
				<p style="color:#666;max-width:400px;">
						Este link de redefinição de senha é temporário e irá expirar em breve.
                    Caso não consiga redefinir sua senha dentro do prazo,
                    você precisará solicitar um novo link.
					</p>
				<br>
                <br>
            </td>
        </tr>
    </table>
</div>
