{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Esqueceu sua senha? Forneça seu endereço de e-mail abaixo, e nós lhe enviaremos um e-mail com instruções para configurar uma nova.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}

    <p><strong>{% trans "Endereço de email:" %}</strong></p>
    {{ form.email }}

    {% if form.non_field_errors %}
        <div style="color: red;">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    {% if form.email.errors %}
        <div style="color: red;">
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <br>
    <hr>
    <input type="submit" value="{% trans 'Reinicializar minha senha' %}" />
</form>
{% endblock %}
